body{
  box-sizing: border-box;
  margin:  50px 0;
  padding: 0;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
.container{
  width: 600px;
 border: 1px solid ;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
/* hola */
header{
  flex-basis: 300px;
}
.add-task{
  flex-basis: 50px;
}
.tasks-group{
  flex-basis: 300px;
}
/*Header styles */
.header-container{
  position: relative;
}
.header-container img{
  width: 100%;
}
.header-todo-label{
padding: 4px 8px;
color: white;
background: rgba(0,0,0, .8);
font-size: 24px;
font-weight: 600;
}
